
.add-to-cart-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.size-buttons-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;

    .size-button {
        padding: 5px 10px;
        margin: 0 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #f9f9f9;
        cursor: pointer;

        &.selected {
            background-color: #007bff;
            color: #fff;
            border-color: #007bff;
        }

        &:hover {
            background-color: #007bff;
            color: #fff;
        }
    }
}


.add-to-cart-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background-color: #218838;
    }
}
